.buyer-profile {
    min-height: 78vh;
}

.dashboard {
    background: #202529;
    max-height:100%;
    border-bottom:2px solid #999;
}

.profile-details {
    text-align: center;

}

.section-container {
    padding-left: 10px;
    font-size: 13px;
    border-bottom: 1px solid #999;
    padding-top:10px;
    cursor:pointer;
}


    .section-container:hover, .section-container.active {
        background: #008768;
    }

.edit-partial-view > div > div{
    margin:auto!important;
   
}

#accountSettingsContainer, #changePhoneContainer, #changePasswordContainer {
    box-shadow: 2px 3px 8px #999;
    padding: 25px !important
}