
@{
    ViewData["Title"] = "AdminHome";
}

<h2 class="text-center mt-5 ">AdminHome</h2>

<div style="height: 100px"></div>

<p>
</p>

<div class="row justify-content-around m-0">
    <div class="col col-auto ">
        <a class="btn-danger btn-lg py-4" Manage Buyers asp-area="" asp-controller="Buyers" asp-action="Index" style="text-decoration: none;">Manage Buyers</a>
    </div>
    <div class="col col-auto">
        <a class="btn-danger btn-lg py-4" Manage Buyers asp-area="" asp-controller="Restaurants" asp-action="Index" style="text-decoration: none;">Manage Restaurants</a>
    </div>
    <div class="col col-auto">
        <a class="btn-danger btn-lg py-4" Manage Buyers asp-area="" asp-controller="DeliveryGuys" asp-action="Index" style="text-decoration: none;">Manage Delivery Guys</a>
    </div>
</div>


