
@{
    ViewData["Title"] = "AdminHome";
}

<h1>AdminHome</h1>

<div style="height: 100px"></div>

<p>
</p>

<div class="row justify-content-around">
    <div class="col col-auto">
        <a class="btn-primary btn-lg" Manage Buyers asp-area="" asp-controller="Buyers" asp-action="Index" style="text-decoration: none;">Manage Buyers</a>
    </div>
    <div class="col col-auto">
        <a class="btn-primary btn-lg" Manage Buyers asp-area="" asp-controller="Restaurants" asp-action="Index" style="text-decoration: none;">Manage Restaurants</a>
    </div>
    <div class="col col-auto">
        <a class="btn-primary btn-lg" Manage Buyers asp-area="" asp-controller="DeliveryGuys" asp-action="Index" style="text-decoration: none;">Manage Delivery Guys</a>
    </div>
</div>


