@model HatliFood.Models.DeliveryGuy

@{
    ViewData["Title"] = "Details";
}

<div class="header d-flex pt-3">
    <a asp-action="Index">
      <i class="bi bi-arrow-left-square-fill px-2 mx-3 btn-success btn"></i>
    </a>
    <h1 class="text-center  text-success d-inline-block" style="width:90%;"> Edit Buyer </h1>
</div>

<div>
    
    <dl class="row mt-5 px-3 mx-0">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UserId" class="btn btn-success px-5 m-3 mx-4">Edit</a> 
</div>
