@model HatliFood.Models.DeliveryGuy

@{
    ViewData["Title"] = "Edit";
}

<div class="header d-flex pt-3">
    <a asp-action="Index">
      <i class="bi bi-arrow-left-square-fill px-2 mx-3 btn-success btn"></i>
    </a>
    <h1 class="text-center  text-success d-inline-block" style="width:90%;"> Edit Buyer </h1>


</div>

<div class="row mt-3 px-3 mx-0">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />
            <div class="form-group p-2">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group p-2">
                <input type="submit" value="Save" class="btn btn-success my-3 px-5" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
