@model HatliFood.Models.Order

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bid" class="control-label"></label>
                <input asp-for="Bid" class="form-control" />
                <span asp-validation-for="Bid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BuyerUserId" class="control-label"></label>
                <input asp-for="BuyerUserId" class="form-control" />
                <span asp-validation-for="BuyerUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rid" class="control-label"></label>
                <input asp-for="Rid" class="form-control" />
                <span asp-validation-for="Rid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestaurantId" class="control-label"></label>
                <select asp-for="RestaurantId" class ="form-control" asp-items="ViewBag.RestaurantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="OrderState" class="control-label"></label>
                <input asp-for="OrderState" class="form-control" />
                <span asp-validation-for="OrderState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Did" class="control-label"></label>
                <input asp-for="Did" class="form-control" />
                <span asp-validation-for="Did" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryGuyUserId" class="control-label"></label>
                <select asp-for="DeliveryGuyUserId" class ="form-control" asp-items="ViewBag.DeliveryGuyUserId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
